<!DOCTYPE html>
<html>
<head>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/pako/dist/pako.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/game-service.js"></script>
	<script src="javascripts/icon-service.js"></script>
	<script src="javascripts/editor.js"></script>
	<link rel="stylesheet" href="stylesheets/out/styles.css">
</head>
<body ng-app="dimensions">
	<div ng-controller="editor">

		<div id="headShelves">

			<div ng-init="isOpen = false" style="float: left">
				<div id="fileMenu"  ng-click="isOpen = !isOpen" ng-class="{'open': isOpen}">
				</div>
				<div ng-if="isOpen" id="fileShelf">
					<div ng-repeat="widget in fileShelf" 
							class="widget {{widget.type}}" 
							ng-style="{'background-image': 'url(' + widget.icon +')'}"
							ng-click="widget.clicked(); updateToolHint()">
					</div>
				</div>
			</div>

			<div id="toolshelf" style="flex-grow: 1">
				<div class="tool {{tool.class}}" 
						ng-repeat="tool in toolset" 
						ng-class="{'selected': tool === selectedTool}" 
						ng-style="{'background-image': 'url(' + tool.icon +')'}"
						ng-click="selectTool(tool); ; updateToolHint()">
				</div>
			</div>

			<div id="widgetContextShelf" ng-if="selectedTool.widgets">
				<div ng-repeat="widget in selectedTool.widgets" 
						class="widget {{widget.type}}" 
						ng-class="{'selected': widget === selectedTool.selectedWidget}" 
						ng-style="{'background-image': 'url(' + widget.icon +')'}"
						ng-click="selectWidget(widget)">
				</div>
			</div>

		</div> <!-- #headShelves -->


		<div id="canvas" 
				ng-mouseup="canvasMouseUp($event)" 
				ng-mouseleave="canvasMouseUp($event)">
			<div class="tile-row" ng-repeat="row in tileset track by $index" ng-init="rowIndex = $index">
				<div class="tile" ng-repeat="tile in tileset[rowIndex] track by $index" 
						ng-mouseover="tileMouseOver($index, rowIndex, $event)"
						ng-mousedown="tileMouseDown($index, rowIndex, $event)">
				</div>
			</div>
			<div class="player-icon" ng-style="{'left': getPlayerPosition().x, 'top': getPlayerPosition().y}"></div>
		</div>


		<div id="statusBar">
			{{getHintText()}}
		</div>

	</div>
</body>
</html>
