<!DOCTYPE html>
<html>
<head>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/pako/dist/pako.min.js"></script>
	<script src="dimensions/js/main.js"></script>
	<script src="dimensions/js/services/game-service.js"></script>
	<script src="dimensions/js/services/icon-service.js"></script>
	<script src="dimensions/js/services/obj-elem-factory.js"></script>
	<script src="dimensions/js/directives/editor-modal.js"></script>
	<script src="dimensions/js/editor.js"></script>
	<link rel="stylesheet" href="dimensions/views/stylesheets/out/styles.css">
</head>
<body ng-app="dimensions">
	<div ng-controller="editor">

		<div id="headShelves">

			<div ng-init="isOpen = false" style="float: left">
				<div id="fileMenu"  ng-click="isOpen = !isOpen" ng-class="{'open': isOpen}">
				</div>
				<div ng-if="isOpen" id="fileShelf">
					<div ng-repeat="widget in fileShelf" 
							class="widget {{widget.type}}" 
							ng-style="{'background-image': 'url(' + widget.icon +')'}"
							ng-click="widget.clicked(); updateToolHint()">
					</div>
				</div>
			</div>

			<div id="toolshelf" style="flex-grow: 1">
				<div class="tool {{tool.class}}" 
						ng-repeat="tool in toolset" 
						ng-class="{'selected': tool === selectedTool}" 
						ng-style="{'background-image': 'url(' + tool.icon +')'}"
						ng-click="selectTool(tool)">
				</div>
			</div>

			<div id="widgetContextShelf" ng-if="selectedTool.widgets">
				<div ng-repeat="widget in selectedTool.widgets" 
						class="widget {{widget.type}}" 
						ng-class="{'selected': widget === selectedTool.selectedWidget}" 
						ng-style="{'background-image': 'url(' + widget.icon +')'}"
						ng-click="selectWidget(widget)">
				</div>
			</div>

		</div> <!-- #headShelves -->


		<div id="canvasContainer">
			<div id="canvas" 
					ng-mouseup="canvasMouseUp($event)" 
					ng-mouseleave="canvasMouseUp($event)">
				<div id="objCanvas"></div>
				<div class="tile-row" ng-repeat="row in tileset track by $index" ng-init="rowIndex = $index">
					<div class="tile" ng-repeat="tile in tileset[rowIndex] track by $index" 
							ng-mouseover="tileMouseOver($index, rowIndex, $event)"
							ng-mousedown="tileMouseDown($index, rowIndex, $event)">
					</div>
				</div>
			</div>
		</div>

		<div id="statusBar">
			{{getHintText()}}
		</div>

		<div id="modalOverlay" 
				ng-click="closeModal()"
				ng-if="modal.visible"
				ng-switch="modal.type">

			<div class="modal" ng-switch-when="saveAndPublish" ng-click="$event.stopPropagation()">
				<div class="modal-header">
					<button class="modal-close-btn" ng-click="closeModal()">X</button>
					<h2>{{modal.title}}</h2>
				</div>
				<div class="modal-body">
					Name: <input type="text" ng-model="modal.model.name">
				</div>
				<div class="modal-footer">
					<button class="cancel" ng-click="closeModal()">
						{{modal.cancelLabel || "Cancel"}}
					</button>
					<button ng-repeat="action in modal.actions"
							ng-click="$event.stopPropagation(); action.run()">
						{{action.label}}
					</button>
				</div>
			</div>

			<div class="modal" ng-switch-when="error" ng-click="$event.stopPropagation()">
				<div class="modal-header">
					<button class="modal-close-btn" ng-click="closeModal()">X</button>
					<h2>{{modal.title}}</h2>
				</div>
				<div class="modal-body">
					{{modal.message}}
				</div>
				<div class="modal-footer">
					<button class="cancel" ng-click="closeModal()">
						{{modal.cancelLabel || "Cancel"}}
					</button>
				</div>
			</div>

		</div>

	</div>

</body>
</html>
