<!DOCTYPE html>
<html>
<head>
	<script src="dimensions/lib/phaser.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/pako/dist/pako.min.js"></script>
	<script src="dimensions/js/main.js"></script>
	<script src="dimensions/js/services/game-service.js"></script>
	<script src="dimensions/js/services/icon-service.js"></script>
	<script src="dimensions/js/entities/player.js"></script>
	<script src="dimensions/js/game.js"></script>
	<style>

		body {
			margin: 0;
		}

		#canvasContainer {
			margin: 0;
			border: none;
			padding: 0;
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		#levelList button {
			display: block;
			width: 50%;
			margin: 20px auto;
			font-family: helvetica, arial, sans-serif;
			font-size: 20px;
			min-height: 25px;
			z-index: 10;
		}


		
	</style>
</head>
<body ng-app="dimensions">
	<div id="canvasContainer" ng-controller="dimensionsGame">
		<div ng-if="!levelInSession" id="levelList" level-list play-level="playLevel">
		</div>
	</div>
</body>
</html>
