body {
  margin: 0;
  font-family: helvetica, verdana, sans-serif;
  background-color: #D1FFA2;
}
#canvasContainer {
  padding: 50px;
  position: relative;
  top: 180px;
}
#canvasContainer #canvas {
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  cursor: cell;
}
#canvasContainer #canvas .tile-row {
  box-sizing: border-box;
  height: 36px;
  display: block;
  white-space: nowrap;
}
#canvasContainer #canvas .tile-row .tile {
  display: inline-block;
  width: 36px;
  height: 36px;
  overflow: hidden;
  color: gray;
  box-sizing: border-box;
  border: 1px rgba(128, 128, 128, 0.3) solid;
  background-color: white;
  text-align: center;
  line-height: 36px;
}
#canvasContainer #canvas #objCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
#headShelves {
  position: fixed;
  z-index: 8;
  width: 100%;
}
#toolshelf,
#widgetContextShelf,
#fileShelf {
  display: flex;
  justify-content: center;
  background-color: #57DE0F;
}
#toolshelf form,
#widgetContextShelf form,
#fileShelf form {
  margin: auto 20px;
}
#toolshelf .tool,
#widgetContextShelf .tool,
#fileShelf .tool,
#toolshelf .widget,
#widgetContextShelf .widget,
#fileShelf .widget {
  width: 72px;
  height: 72px;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
#toolshelf .tool:hover,
#widgetContextShelf .tool:hover,
#fileShelf .tool:hover,
#toolshelf .widget:hover,
#widgetContextShelf .widget:hover,
#fileShelf .widget:hover {
  background-color: #D1FFA2;
}
#toolshelf .tool.selected,
#widgetContextShelf .tool.selected,
#fileShelf .tool.selected,
#toolshelf .widget.selected,
#widgetContextShelf .widget.selected,
#fileShelf .widget.selected {
  background-color: #94F95A;
}
#fileShelf {
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: #EC103F;
}
#fileShelf .widget:hover {
  background-color: #F26684;
}
#homeLinks {
  display: block;
  width: 240px;
  margin: 200px auto;
  padding: 40px;
  text-align: center;
  background-color: #57DE0F;
  font-size: 48px;
}
#homeLinks a {
  margin: 20px 0;
  display: block;
  color: #126F00;
}
#homeLinks a:hover {
  background-color: #D1FFA2;
}
a {
  text-decoration: none;
}
#fileMenu {
  background-size: contain;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  background-color: #EC103F;
  background-image: url('../../../assets/editor_icons/arrow.png');
  padding: 10px;
}
#fileMenu.hover {
  background-color: #F26684;
}
#fileMenu.open {
  background-color: #980021;
}
#statusBar {
  position: fixed;
  bottom: 0px;
  background-color: white;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding: 4px 12px;
}
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#modalOverlay .modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 25px;
  color: #126F00;
  margin: 20px;
  width: 80%;
  max-width: 400px;
  max-height: 80%;
  overflow: hidden;
}
#modalOverlay .modal .modal-header .modal-close-btn {
  border: none;
  float: right;
  color: #EC103F;
  font-size: 24px;
  background-color: transparent;
}
#modalOverlay .modal .modal-header .modal-close-btn:hover {
  background-color: #F26684;
  cursor: pointer;
}
#modalOverlay .modal .modal-body {
  margin: 20px 0px;
}
#modalOverlay .modal .modal-footer {
  font-size: 16px;
}
#modalOverlay .modal .modal-footer button {
  float: right;
  margin: 10px;
  padding: 10px 20px;
  border: 1px #EC103F solid;
  background-color: #EC103F;
  color: white;
}
#modalOverlay .modal .modal-footer button.cancel {
  background-color: transparent;
  color: #EC103F;
}
