@tilesize: 36px;
@toolsize: 72px;
@obj-layer: 2;
@shelf-layer: 8;
@modal-layer: 10;

@key: #57DE0F;
@lighter-key: #94F95A;
@lightest-key: #D1FFA2;
@darker-key: #1F9500;
@darkest-key: #126F00;
@accent: #EC103F;
@dark-accent: #980021;
@light-accent: #F26684;
@tile-border: rgba(128, 128, 128, 0.3);


body {
	margin: 0;
	font-family: helvetica, verdana, sans-serif;
	background-color: @lightest-key;
}

#canvasContainer {
	padding: 50px;
	position: relative;
	top: 180px;

	#canvas {
		position: relative;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* IE/Edge */
		user-select: none;

		cursor: cell;

		.tile-row {
			box-sizing: border-box;
			height: @tilesize;
			display: block;
			white-space: nowrap;

			.tile {
				display: inline-block;
				width: @tilesize;
				height: @tilesize;
				overflow: hidden;
				color: gray;
				box-sizing: border-box;
				border: 1px @tile-border solid;
				background-color: white;
				text-align: center;
				line-height: @tilesize;
			}
		}

		#objCanvas {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: @obj-layer;
			pointer-events: none;
		}
	}
}

#headShelves {
	position: fixed;
	z-index: @shelf-layer;
	width: 100%;
}

#toolshelf, #widgetContextShelf, #fileShelf {
	display: flex;
	justify-content: center;
	background-color: @key;

	form {
		margin: auto 20px;
	}
	
	.tool, .widget {
		width: @toolsize;
		height: @toolsize;
		display: inline-block;
		box-sizing: border-box;
		margin: 10px;
		background-size: contain;
		background-repeat: no-repeat;

		&:hover {
			background-color: @lightest-key;
		}

		&.selected {
			background-color: @lighter-key;
		}

	}
}

#fileShelf {
	flex-direction: column;
	position: absolute;
	z-index: 2;
	background-color: @accent;

	.widget:hover {
		background-color: @light-accent;
	}
}

#homeLinks {
	display: block;
	width: 240px;
	margin: 200px auto;
	padding: 40px;
	text-align: center;
	background-color: @key;
	font-size: 48px;
	
	a {
		&:hover {
			background-color: @lightest-key;
		}

		margin: 20px 0;
		display: block;
		color: @darkest-key;
	}
}

a {
	text-decoration: none;
}

#fileMenu {
	background-size: contain;
	background-repeat: no-repeat;
	width: @toolsize;
	height: @toolsize;
	background-color: @accent;
	background-image: url('../../../assets/editor_icons/arrow.png');
	padding: 10px;

	&.hover {
		background-color: @light-accent;
	}

	&.open {
		background-color: @dark-accent;
	}
}

#statusBar {
	position: fixed;
	bottom: 0px;
	background-color: white;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 15px;
	padding: 4px 12px;
}

#modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: @modal-layer;

	.modal {
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		padding: 25px;
		color: @darkest-key;
		margin: 20px;
		width: 80%;
		max-width: 400px;
		max-height: 80%;
		overflow: hidden;

		.modal-header {

			.modal-close-btn {
				border: none;
				float: right;
				color: @accent;
				font-size: 24px;
				background-color: transparent;

				&:hover {
					background-color: @light-accent;
					cursor: pointer;
				}
			}

		}

		.modal-body {
			margin: 20px 0px;
		}

		.modal-footer{
			font-size: 16px;

			button {
				float: right;
				margin: 10px;
				padding: 10px 20px;
				border: 1px @accent solid;
				background-color: @accent;
				color: white;

				&.cancel {
					background-color: transparent;
					color: @accent;
				}
			}
		}
	}
}
